<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>Library | Catalog</title>
<style>
body {
background-image: url("/images/library-background.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
<script>
function validateForm() {	
	if (form.titleInput.value == "") {
		alert("Please input a title.");
		form.titleInput.focus();
		return false;
	} else if (form.authorInput.value == "") {
		alert("Please input an author.");
		form.authorInput.focus();
		return false;
	} else if (form.isbnInput.value == "") {
		alert("Please input an ISBN.");
		form.isbnInput.focus();
		return false;
	} else if (form.timesRenewedInput.value == "") {
		alert("Invalid input in times renewed. Please enter 0 if the new book has not been renewed or is checked in.");
		form.timesRenewedInput.focus();
		return false;
	} else if ((form.timesRenewedInput.value % 1) != 0) {
		alert("Invalid input in times renewed. Please enter a number. Enter 0 if the new book has not been renewed or is checked in.")
		form.timesRenewedInput.focus();
		return false;
	}	else {
		return true;
	}
}
</script>
</head>
<div class="container">
<header>
	<h1 style="color: white; text-align: center">Catalog</h1>
	
		<nav class="navbar navbar-expand-sm bg-light navbar-light shadow rounded">
     	<ul class="navbar-nav">
    		  <li class="nav-item">
         		 <a href="../index.html" class="nav-link">Home
         		 </a>
      		  </li>
      		  <li class="nav-item">
         		 <a href="/viewAll" class="nav-link active">Catalog</a>
        	</li>
       		 <li class="nav-item">  
        		  <a href="/viewPatrons" class="nav-link">Patrons</a>
        	</li>  
   
      	</ul>
      </nav>

</header>
<br>
<body>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <h1>Edit Book</h1>
  <div class="form-group">
 	<form id="form" th:object="${newBook}" th:action="@{/update/{id}(id=${newBook.id})}" method=POST onsubmit="return validateForm(this)"> 
    	Title: <input name="title" class="form-control" id="titleInput" size="20" th:field="*{title}"> <br />
 		Author: <input name="author" class="form-control" id="authorInput" size="20" th:field="*{author}"> <br />
 		ISBN: <input name="isbn" class="form-control" id="isbnInput" size="20" th:field="*{isbn}"> <br />
    	Due Date: <input type = "date" class="form-control" name = "dueDate" id="dueDateInput" th:field="*{dueDate}"><br />
    	Times Renewed: <input name = "timesRenewed" class="form-control" id="timesRenewedInput" th:field="*{timesRenewed}"><br />
 		</div>
 		<input name="submit" class="btn btn-primary" type="submit" value="Submit" /> 
 	</form>
<a href="/viewAll">View all Books</a>
</div>
</body>
</div>
</html>