<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>Library | Add a Patron</title>

<style>
body {
background-image: url("/images/library-background.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
<script>
function validateForm() {	
	if (form.libraryNumberInputBox.value == "") {
		alert("Please input a library number");
		form.libraryNumberInputBox.focus();
		return false;
	} else if (form.firstNameInputBox.value == "") {
		alert("Please input a first name.");
		form.firstNameInputBox.focus();
		return false;
	} else if (form.lastNameInputBox.value == "") {
		alert("Please input a last name.");
		form.lastNameInputBox.focus();
		return false;
	} else {
		return true;
	}		
}
</script>
</head>
<body>
<div class="container">
<header>
<h1 style="color: white; text-align: center">Patrons</h1>
	
		<nav class="navbar navbar-expand-sm bg-light navbar-light shadow rounded">
     	<ul class="navbar-nav">
    		  <li class="nav-item">
         		 <a href="../index.html" class="nav-link">Home
         		 </a>
      		  </li>
      		  <li class="nav-item">
         		 <a href="/viewAll" class="nav-link">Catalog</a>
        	</li>
       		 <li class="nav-item">  
        		  <a href="/viewPatrons" class="nav-link active">Patrons</a>
        	</li>  
   
      	</ul>
      </nav>


</header>
<br>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<h1 style="text-align: center">Add Patron</h1>
<form id="form" th:object="${newPatron}" th:action="@{/addPatron}" method=POST onsubmit="return validateForm(this)">
User Name: <input class="form-control" name="libraryNumber" id="userNameInputBox" size="20" placeholder="Enter library number" th:field="*{libraryNumber}"><br />
<span id="libraryNumberInput"></span>
First Name: <input class="form-control" name="firstName" id="firstNameInputBox" size="20" placeholder="Enter first name" th:field="*{firstName}"><br />
<span id="firstNameInput"></span>
Last Name: <input class="form-control" name="lastName" id="lastNameInputBox" size="20" placeholder="Enter last name" th:field="*{lastName}"><br />
<span id="lastNameInput"></span>

<input name="Submit" class="btn btn-primary" type="submit" value="Submit" />
</form>
</div>
</div>
</body>
</html>