<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>Library | Checked Out Books</title>
<style>
body {
background-image: url("/images/library-background.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
</head>

<body>
<div class="container">
<header>
		<nav class="navbar navbar-expand-sm bg-light navbar-light shadow rounded">
     	<ul class="navbar-nav">
    		  <li class="nav-item">
         		 <a href="../index.html" class="nav-link">Home
         		 </a>
      		  </li>
      		  <li class="nav-item">
         		 <a href="/viewAll" class="nav-link">Catalog</a>
        	</li>
       		 <li class="nav-item">  
        		  <a href="/viewPatrons" class="nav-link active">Patrons</a>
        	</li>  
   
      	</ul>
      </nav>


</header>
<br>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <h1>Unable to Delete</h1>
  <p style="color: red">Unable to delete the book or patron. Please return checked out materials first.</p>
	<a href="/viewAll">Return to Catalog</a>
	<br>
	<a href="/viewPatrons">Return to Patron List</a>
	<br>
	<a href="/">Return to Homepage</a>
</div>
</body>
</html>