<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Users</h1>
	<table>
		<tr th:each="currentUser : ${users}">
			<td th:text="${currentUser.userName}" />
			<td th:text="${currentUser.password}" />
			<td th:text="${currentUser.firstName}" />
			<td th:text="${currentUser.lastName}" />
			<td><a th:href="@{/viewCheckedOut/{id}(id=${currentUser.id})}">View Checked out books</a>
			<td><a th:href="@{/checkOut/{id}(id=${currentUser.id})}">Check out Books</a>
		</tr>
	</table>
	<a href="../index.html">Index</a>
</body>
</html>